@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Fira sans', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.persona-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    /* text-align: center; */
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

/* Changed image rendering to avoid grainy downscaling */
.imageContainer {
    display: flex;
    overflow: hidden;
    width: 150px;
    min-width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

img {
    padding-top: 70px;
    width: 200px;
    height: auto;
    
    object-fit: scale-down;
}

.details {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 20px;
    flex-direction: column;
}

.row {
    background-color: #c7ecccaf;
    border: 3px solid #538600;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px
}

li {
   margin-bottom: 10px; 
}

.quote {
    font-style: italic;
}

h1, h2, h3, p {
    margin: 0px;
}

h1, h3 {
    color: #cea800;
}